# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Tailwind (CSS gerado)
src/output.css
output.css

# Sistema / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build (caso crie no futuro)
dist/
